# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\xamppa\htdocs\finelia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
